Merge population data with counties

In [10]:
import pandas as pd

df1 = pd.read_csv("/kaggle/input/counties-data/Kenya_counties_census_data_v2.csv")
df2 = pd.read_csv("/kaggle/input/counties-data/kenya_counties_v3.csv")

merged = pd.merge(df1, df2, on="CODE", how="outer")  
merged.to_csv("kenya_census_data.csv", index=False)

In [11]:
merged.head()

,UNIT_AREA,UNIT_PERIM,COUNT,COUNTY_NAM,CODE,MALE_POP,FEMALE_POP,INTERSEX,TOTAL_POP,POP_DENSIT,geometry,County,ISO_Code,Latitude,Longitude
0,0.023356,0.967209,34,Mombasa,1,610257,598046,30,1208333,517.354427,NaN,Mombasa,KE-28,-4.0435,40.0000
1,0.758340,4.378790,83,Kwale,2,425121,441681,18,866820,11.430493,NaN,Kwale,KE-19,-3.9737,39.1521
2,0.391775,3.909102,107,Kilifi,3,704089,749673,25,1453787,37.107702,NaN,Kilifi,KE-14,-3.5107,39.9093
3,3.185316,10.410747,92,Tana River,4,158550,157391,2,315943,0.991873,NaN,Tana River,KE-40,-1.6500,40.0500
4,0.743918,3.771571,40,Lamu,5,76103,67813,4,143920,1.934622,"POLYGON ((642522.8810571186 9778754.915494535,...",Lamu,KE-21,-2.2717,40.9020

In [15]:
#some counties not named the same
merged["County"] == merged['COUNTY_NAM']

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12    False
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20    False
21     True
22     True
23     True
24     True
25     True
26     True
27    False
28     True
29     True
30     True
31     True
32     True
33     True
34     True
35     True
36     True
37     True
38     True
39     True
40     True
41     True
42     True
43     True
44     True
45     True
46     True
dtype: bool

In [13]:
merged['names_equal'] = merged["County"] == merged['COUNTY_NAM'];

In [14]:
merged[merged['names_equal'] != True]

,UNIT_AREA,UNIT_PERIM,COUNT,COUNTY_NAM,CODE,MALE_POP,FEMALE_POP,INTERSEX,TOTAL_POP,POP_DENSIT,geometry,County,ISO_Code,Latitude,Longitude,names_equal
12,0.089623,1.706179,75,Tharaka Nithi,13,193764,199406,7,393177,43.870100,NaN,Tharaka-Nithi,KE-41,-0.3333,37.7167,False
20,0.080291,2.185837,74,Murang'a,21,523940,532669,31,1056640,131.601300,POLYGON ((248959.90077712593 9937560.724792477...,Murang`a,KE-29,-0.7833,37.0500,False
27,0.116074,2.554823,87,Elgeyo Marakwet,28,227317,227151,12,454480,39.154333,NaN,Elgeyo-Marakwet,KE-05,1.0500,35.5000,False